---
layout: default
refactor: true
---

{% include lang.html %}


<!-- Show *some* about info -->

<h1>About Me</h1>

<a href="https://youtu.be/dQw4w9WgXcQ?si=It-TGhPKBZloTEWI">Not a rickroll</a> 

<div id="about-card" class="flex-grow-1 px-xl-1">
    <article class="card-wrapper card">
    <a href="https://bencookman.co.uk/about/" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}
        <div class="col-md-{{ card_body_col }}">
        <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">About</h1>
        </div>
        </div>
    </a>
    </article>
</div>

<!-- Reuse home.html -->

{% include ../_layouts/home.html %}

