---
layout: default
refactor: true
---

{% include lang.html %}

<!-- About -->
<h1>About Me</h1>

<p>
    Hi --- I'm Ben, an Applied Mathematician from <a href = "https://maps.app.goo.gl/ZQo4n8aG5CiH53bo9">Northampton</a>.
</p>
<p>
    Currently, I'm a PhD student at <a href = "https://research.manchester.ac.uk/en/persons/benjamin-levi-cookman">The University of Manchester</a> in the Department of Mechanical and Aerospace Engineering. Most of what I'm doing day-to-day involves numerics and fluid simulation. At the moment I'm developing acoustic boundary conditions for combustion simulation.
</p>
<p>
    Beyond this I've got many interests, including <a href = "https://en.wikipedia.org/wiki/Ultimate_frisbee">ultimate frisbee</a>, reading, sci-fi, fiddling about with computers in various ways (including, for example, making a website) and a lot more.
</p>


<!-- Gallery -->
<h1>Gallery</h1>

{% assign gallery_style = 'padding:10px;filter:drop-shadow(0em 0em 0.25em black);' %}
<!-- {% assign gallery_style_left = 'float:left;padding:10px;filter:drop-shadow(0em 0em 0.5em black);' %} -->
{% assign size_gallery = '750px' %}

<p>
  A collection of nice images related to my work are available at my <a href="{{ '/gallery/' | relative_url }}">gallery</a>. Some of these are shown below:
</p>
<p>
    From my consolebrot program:
</p>
<div style="display:flex;justify-content:center;align-items:center;">
    <img src="assets/ben-assets/gallery-imgs/consolebrot-1.png" alt="" style="width:{{ size_gallery }};{{ gallery_style_left }}">
</div>
<div style="display:flex;justify-content:center;align-items:center;">
    <img src="assets/ben-assets/gallery-imgs/consolebrot-3.png" alt="" style="width:{{ size_gallery }};{{ gallery_style_left }}">
</div>
<div style="display:flex;justify-content:center;align-items:center;">
    <img src="assets/ben-assets/gallery-imgs/consolebrot-11.png" alt="" style="width:{{ size_gallery }};{{ gallery_style_left }}">
</div>


<!-- inherited from home.html -->
<h1>Posts</h1>

<p>
    I plan on posting occasionally to share some tid-bits from my research alongside general ramblings on things I find interesting. Blog posts I write are uploaded to the <a href="{{ '/posts/' | relative_url }}">posts</a> tab to the left. Since I'm head-deep in PhD work, though, posts may well be few and far between! Some examples:
</p>

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>
                {% include no-linenos.html content=post.content %}
                {{ content | markdownify | strip_html | truncate: 200 | escape }}
              </p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=post.date lang=lang %}

                <!-- categories -->
                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}

